.student-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.info-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 8px;
}